.wrapper
{
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  height: 790px;
  width: 1450px;
.chat-side
{ 
  background-color: rgb(37, 49, 65);
  color:white;
  width: 300px;
  height: 100%;
  float: left;
  display: block;
  box-sizing: border-box;
}
.side-header
{
  background-color: rgb(35, 36, 46);
height: 100px;
width: 300px;
align-items: center;
padding: 0 20;
position: relative;
}
.side-header__box
{width: 300px;
  height: 24px;
  position: absolute;
  top: 35px;
  display: flex;

}
p.side-header__box__user-name
{
  width: 250px;
}
.side-header__box__menu
{
  width: 50px;
  height: 24;
  top: 35px;
  display: flex;
}

.side-header__box__menu__new-group
{
  margin-left: 0.3rem;
  color: white;
}

.side-header__box__menu__edit-user
{
margin-left: 0.3rem;

}

.group{
  padding: 20px 20px 0;
  width: 300px;
  height: auto;

}
.chat-main{
  width: calc(100% - 300px);
  background-color: white;
  position: relative;
}
.main-header{
  box-sizing: border-box;
  background-color:#eee;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  position: relative;
}

.main-header__left-box{
  margin-top: 35px;
}
%h2.main-header__left-box__current-group{
  font-size: 100%;
margin-bottom: 15px;
background-color: rgb(180, 215, 255);
height: 136px;
widows: 30px;
}
ul.main-header__left-box__member-list{
font-size: 12px;
color: #999999;
//background-color: rgb(141, 53, 86);
}
.main-header__left-box__member-list__member{
color: rgb(153, 153,153);
background-color: rgb(190, 166, 166);
list-style: none;
}
.main-header__edit-btn{
  border-bottom-color: rgb(56, 174, 240);
  height: 40px;
  width: 80px;
  line-height: 40px;
  padding: (0,20px);
margin-top: 30px;
right: 40px;
position: absolute;
border:solid 1px rgb(56, 174, 240);
text-align: center;
}
.messages{
height: calc(100vh - 281px);
padding: 46px 40px;
background-color: #fafafa;
overflow: scroll;
}
.message{
  padding-bottom: 40px;

}
.message__upper-info{
display: flex;
margin-bottom: 10px;
box-sizing: border-box;
background-color:blue;
}
%p.message__upper-info__talker{
  color: black;
  font-size: 16px;
  font-weight: bold;
  background-color: white;

}
%p.message__upper-info__date{
color: #999999;
font-size: 12px;
margin-left: 10px;
}
%p.message__text{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;

}
.form{
  height: 50px;
  width: calc(100% - 80px);
  padding: 20px 40px;
  background-color:#ddd;
  position: relative;

}

.edit_link{
  color: white;
  
}
.edit_btn{
  color: #38aef0;
  text-decoration: none;
}
.input-box__text{
  // display: flex;
  box-sizing: border-box;
 text-emphasis: type;
 width: 88%;
 height: 100%;
 position: relative;
 padding: 0,40px,0,10px
}
.input_box__image{
  font-size:1.3rem;
  position: absolute;
  top:29px;
  right: 190px;
  cursor: pointer;
  box-sizing: border-box;
}
.submit-btn{
  background-color: #38aef0;
  width: 100px;
  height: 50px;
  padding: 10 30px;
  margin-left: 15px;
  color: white;
  cursor: pointer;
  right: 50px;
  top: 29px;
  

}
}

#message_image {
  display: none;
}